data/PlantLeafMain
data/New Plant Diseases Dataset(Augmented)/
backend/__pycache__/server.cpython-310.pyc
backend/__pycache__/server.cpython-310.pyc.4325464528
backend/__pycache__/utils.cpython-310.pyc
data/severityDataset